In [35]:
import pandas as pd
import pygwalker as pyg

# Cargar el archivo CSV con punto y coma como separador
df = pd.read_csv("datafin.csv", sep=';')
df.drop('Unnamed: 0', axis=1, inplace=True)
df.head()

,ANO,TIPO,NOMBRE UNIVERSIDAD,TIPO FINANCIAMIENTO,PROVINCIA UNIVERSIDAD,BASE DATOS INDEXADA,NOMBRE REVISTA,NOMBRE ARTICULO,CAMPO AMPLIO,CAMPO ESPECIFICO,CAMPO DETALLADO,AlumnoID,nombre,correo
0,2020,ARTICULO,ESCUELA POLITECNICA NACIONAL,PUBLICA,PICHINCHA,SCOPUS,ASTROPHYSICAL JOURNAL,DIFFERENCE OF INTERMITTENCY BETWEEN ELECTRIC F...,"CIENCIAS NATURALES, MATEMÁTICAS Y ESTADÍSTICAS",CIENCIAS FÍSICAS,FÍSICA,4137,Charo Zamora,czamora@hotmail.com
1,2020,ARTICULO,ESCUELA POLITECNICA NACIONAL,PUBLICA,PICHINCHA,SCOPUS,ASTROPHYSICAL JOURNAL,ON THE EFFECTS OF UV PHOTONS/X-RAYS ON THE CHE...,"CIENCIAS NATURALES, MATEMÁTICAS Y ESTADÍSTICAS",CIENCIAS FÍSICAS,FÍSICA,962,Dolores Lasa,dlasa@hotmail.com
2,2020,ARTICULO,ESCUELA POLITECNICA NACIONAL,PUBLICA,PICHINCHA,SCOPUS,EARTH AND PLANETARY SCIENCE LETTERS,EFFECTS OF ASEISMIC RIDGE SUBDUCTION ON THE GE...,"CIENCIAS NATURALES, MATEMÁTICAS Y ESTADÍSTICAS",CIENCIAS FÍSICAS,CIENCIAS DE LA TIERRA,4812,Mayte Montaña,mmontana@outlook.com
3,2020,ARTICULO,ESCUELA POLITECNICA NACIONAL,PUBLICA,PICHINCHA,SCOPUS,EARTH AND PLANETARY SCIENCE LETTERS,RAPID LOCALIZED FLANK INFLATION AND IMPLICATIO...,"CIENCIAS NATURALES, MATEMÁTICAS Y ESTADÍSTICAS",CIENCIAS FÍSICAS,CIENCIAS DE LA TIERRA,3929,Calista Melero,cmelero@gmail.com
4,2020,ARTICULO,ESCUELA POLITECNICA NACIONAL,PUBLICA,PICHINCHA,SCOPUS,JOURNAL OF SOUND AND VIBRATION,COMBINING STRAIN AND ACCELERATION MEASUREMENTS...,"INGENIERÍA, INDUSTRÍA Y CONSTRUCCIÓN",INGENIERÍA Y PROFESIONES AFINES,MECÁNICA Y PROFESIONES AFINES A LA METALISTERÍA,1281,Jordán Olmo,jolmo@hotmail.com

In [32]:
data = df.groupby(['ANO','BASE DATOS INDEXADA'])['TIPO'].count().reset_index()
data = data.rename(columns={'TIPO':'CANTIDAD'})
data

     ANO                           BASE DATOS INDEXADA  CANTIDAD
0   2020                                      AGRICOLA         3
1   2020                                 CAB_ABSTRACTS         2
2   2020                                        CINAHL         1
3   2020                                         CLASE         7
4   2020  CLASIFICACION_INTEGRADA_REVISTAS_CIENTIFICAS         1
..   ...                                           ...       ...
67  2023                                          OAJI        10
68  2023                                       REDALYC        40
69  2023                                        SCIELO       605
70  2023                                        SCOPUS      6398
71  2023                                WEB_OF_SCIENCE       754

[72 rows x 3 columns]

In [33]:
data['BASE DATOS INDEXADA'] = data['BASE DATOS INDEXADA'].astype(str)
data['ano'] = data['ANO'].astype(str)
data['x'] = list(zip(data['BASE DATOS INDEXADA'], data['ano']))
data

,ANO,BASE DATOS INDEXADA,CANTIDAD,ano,x
0,2020,AGRICOLA,3,2020,"(AGRICOLA, 2020)"
1,2020,CAB_ABSTRACTS,2,2020,"(CAB_ABSTRACTS, 2020)"
2,2020,CINAHL,1,2020,"(CINAHL, 2020)"
3,2020,CLASE,7,2020,"(CLASE, 2020)"
4,2020,CLASIFICACION_INTEGRADA_REVISTAS_CIENTIFICAS,1,2020,"(CLASIFICACION_INTEGRADA_REVISTAS_CIENTIFICAS,..."
...,...,...,...,...,...
67,2023,OAJI,10,2023,"(OAJI, 2023)"
68,2023,REDALYC,40,2023,"(REDALYC, 2023)"
69,2023,SCIELO,605,2023,"(SCIELO, 2023)"
70,2023,SCOPUS,6398,2023,"(SCOPUS, 2023)"
71,2023,WEB_OF_SCIENCE,754,2023,"(WEB_OF_SCIENCE, 2023)"

In [34]:
walker = pyg.walk(data)

Box(children=(HTML(value='\n<div id="ifr-pyg-000635ae57f280a8mTwgflDPhdAtXFeS" style="height: auto">\n    <hea…

       AlumnoID                                 NOMBRE UNIVERSIDAD  TIPO
0             1         ESCUELA SUPERIOR POLITECNICA DE CHIMBORAZO     1
1             1        PONTIFICIA UNIVERSIDAD CATOLICA DEL ECUADOR     1
2             1                     UNIVERSIDAD CATOLICA DE CUENCA     1
3             1          UNIVERSIDAD DE LAS FUERZAS ARMADAS (ESPE)     1
4             1  UNIVERSIDAD PARTICULAR SAN GREGORIO DE PORTOVIEJO     1
...         ...                                                ...   ...
43612      5000                           UNIVERSIDAD DE GUAYAQUIL     1
43613      5000              UNIVERSIDAD ESTATAL DEL SUR DE MANABI     1
43614      5000                      UNIVERSIDAD TECNICA DEL NORTE     2
43615      5000             UNIVERSIDAD TECNICA PARTICULAR DE LOJA     2
43616      5000                UNIVERSIDAD TECNOLOGICA INDOAMERICA     1

[43617 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50420 entries, 0 to 50419
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ANO                    50420 non-null  int64
 1   TIPO                   50420 non-null  object
 2   NOMBRE UNIVERSIDAD     50420 non-null  object
 3   TIPO FINANCIAMIENTO    50420 non-null  object
 4   PROVINCIA UNIVERSIDAD  50420 non-null  object
 5   BASE DATOS INDEXADA    50420 non-null  object
 6   NOMBRE REVISTA         50420 non-null  object
 7   NOMBRE ARTICULO        50420 non-null  object
 8   CAMPO AMPLIO           50420 non-null  object
 9   CAMPO ESPECIFICO       50420 non-null  object
 10  CAMPO DETALLADO        50420 non-null  object
 11  AlumnoID               50420 non-null  int64
 12  nombre                 50420 non-null  object
 13  correo                 50420 non-null  object
dtypes: int64(2), object(12)
memory usage: 5.4+ MB

In [19]:
grafica = df.groupby(['ANO','BASE DATOS INDEXADA'])['TIPO'].count().reset_index()
grafica

     ANO                           BASE DATOS INDEXADA  TIPO
0   2020                                      AGRICOLA     3
1   2020                                 CAB_ABSTRACTS     2
2   2020                                        CINAHL     1
3   2020                                         CLASE     7
4   2020  CLASIFICACION_INTEGRADA_REVISTAS_CIENTIFICAS     1
..   ...                                           ...   ...
67  2023                                          OAJI    10
68  2023                                       REDALYC    40
69  2023                                        SCIELO   605
70  2023                                        SCOPUS  6398
71  2023                                WEB_OF_SCIENCE   754

[72 rows x 3 columns]

In [18]:
universidad = grafica.count()
universidad

NOMBRE UNIVERSIDAD     490
BASE DATOS INDEXADA    490
TIPO                   490
dtype: int64